{% extends "main/base.html" %}

{% block title %}
VLE - home
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <p> Welcome, {{ user.username }}. </p>
    <a href="logout"> Logout </a>
    <br> <br>
    {% if udata.is_teacher %}
        <a href="courses/create/"> New Course </a>
    {% endif %}
{% else %}
    Please <a href="login">Login</a>
{% endif %}

</br>
Welcome to the project.
{% endblock content %}

